.works-main {
    padding: var(--size-3xl);
    padding-top: 8vw;
}

.works-main .index-main{
    align-items: flex-start !important;
}

.works-main .works-container {
    margin-top: 14vw;
}

.works-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    height: 85vh;
    overflow-y: scroll;
    width: 80vw;
}

.works-item {
    height: 200px;
    background-color: #FEFFEA;
    box-shadow: -2px 4px 0px rgb(0 0 0 / 0.1);
    transition: transform 0.3s ease;
    padding: 0.7rem;

    & .works-item-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        background-color: #FBD5C1;
    }
}

.works-item .works-item-content {
    background-size: cover;
    background-position: center;
}

.works-item:nth-child(1) .works-item-content {
    background-image: url('../images/cover-buddy-prep.png');
}

.works-item:nth-child(2) .works-item-content {
    background-image: url('../images/cover-dunkin.png');
}

.works-item:nth-child(3) .works-item-content {
    background-image: url('../images/cover-beyond.png');
}

.works-item:nth-child(4) .works-item-content {
    background-image: url('../images/cover-content.png');
}

.works-item:nth-child(5) .works-item-content {
    background-image: url('../images/cover-browser.png');
}

.works-item:nth-child(6) .works-item-content {
    background-image: url('../images/cover-more.png');
}


.works-item::after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: -60px; /* boven de knop */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.works-item:hover::after {
    opacity: 1;
}

.works-item:nth-child(1):hover::after {
    background-image: url('../images/text-bubble-06.png');
}
.works-item:nth-child(2):hover::after {
    background-image: url('../images/text-bubble-07.png');
}
.works-item:nth-child(3):hover::after {
    background-image: url('../images/text-bubble-06.png');
}
.works-item:nth-child(4):hover::after {
    background-image: url('../images/text-bubble-06.png');
}
.works-item:nth-child(5):hover::after {
    background-image: url('../images/text-bubble-07.png');
}

/* Eerste item gekanteld */
.works-item:hover {
    transform: rotate(-5deg);
    transform-origin: center;
}

@media (min-width: 768px){
    .works-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
        height: 70vh;
        width: 80vw;
    }

    .works-item {
        height: auto;
    }

    .index-main{
        align-items: center;
    }

    .works-main .works-container {
        margin-top: 6vw;
    }
}